@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
header{
	background: #ffdb58;
	display: flex;
	justify-content: space-between;
	padding: 30px 15%;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.span{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}
.span span{
	margin-bottom: 5px;
}
.title{
	font-size: 35px;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.subtitle{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	color: #a38c3d;
	font-weight: 300;
}
.logo img{
	width: 65px;
	height: 65px;
}
.member{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}
.member img{
	width: 35px;
	height: 35px;
}
.member span{
	font-size: 18px;
	color: #a38c3d;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.member span:hover{
	color: #fff;
	transition: 0.4s;
	cursor: pointer;
}
#nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 15%;
	background-color: #ffdb58;
}
#nav ul{
	margin-left: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#nav ul li{
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #ddd;
	font-size: 14px;
	font-family: Roboto, sans-serif;
	list-style: none;
	padding: 28px 55px;
	background: #fff;
}
#nav ul li:hover{
	background: #efcd4a;
	cursor: pointer;
	transition: 0.5s;
	border-left: 1px solid gold;
}
#nav ul li a{
	text-decoration: none;
	color: #000;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: none;
	margin: 0;
}
.slide-text{
	position: absolute;
	padding: 10px;
	top: 59%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.0);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.slide-text span{
	font-size: 40px;
	font-family: Roboto, sans-serif;
	text-align: center;
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
}
.slide-text a{
	border: 2px solid #efcd4a;
	background: #efcd4a;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.slide-text a:hover{
	background: #292929;
	border: 2px solid #292929;
	transition: 0.5s;
}
.slide{
	width: 100vw/*1024px*/;
	height: auto /*656px*/;
	overflow: hidden;
	transition: all 0.5s;
}
.slides{
	width: 300vw;
	display: flex;
}
.images img{
	width: 100vw/*1024px*/;
	height: auto/*656px*/;
	object-fit: cover;
}
#atual{
	margin-left: 0;
	transition: all 2s;
}
.btn{
	position: absolute;
	color: #fff;
	padding: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s;
	font-size: 1.7em;
	margin-top: 3%;
}
.btn:hover{
	transform: scale(1.5);
}
#voltar{
	top: 50%;
	left: 10%;
}
#next{
	top: 50%;
	right: 10%;
}
.balls{
	position: absolute;
	width: 1024px;
	display: flex;
	padding: 10px;
	justify-content: center;
	margin-top: -45px;
	margin-left: 17%;
}
.balls div{
	transition: all 0.5s;
	border: 2px solid #ffdb58;
	padding: 6px;
	border-radius: 50%;
	margin-right: 15px;
	cursor: pointer;
}
.balls div:hover{
	background: #292929;
	border: 2px solid #292929;
}
.imgAtual{
	background: #ffdb58;
	transition: all 0.6s;
}
.events{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.eventos{

}
.eventos-text{
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15%;
	margin-bottom: 30px;
}
.eventos-text h1{
	font-size: 25px;
	color: #646464;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.eventos-text .spans{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	font-size: 45px;
	font-weight: bold;
	cursor: pointer;
}
.grid-imgs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}
.grid-imgs img{
	width: 250px;
	height: 160px;
	object-fit: cover;
}
.grid-items{
	overflow: hidden;
}
.grid-items p{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #ffdb58;
	width: 100%;
	top: 5px;
	font-size: 18px;
	padding: 5px 0px;
}
.grid-items p .sp1{
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 30px;
}
.grid-items p .sp2{
	color: #a38c3d;
	font-size: 25px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.grid-items p:hover{
	background: #292929;
	transition: 0.5s;
	cursor: pointer;
}
